@import url('https://fonts.googleapis.com/css?family=Poppins');

body {
  font-family: 'Poppins';
}

/*Charting Information-->
form label color: rgba(0,0,0,.05)
form input color: rgba(0,0,0,.05)
form button background color: #fb3e44
form button letters color: white*/

header > div {
    padding: 0 25px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid lightgray;
    background-color: white;
    color: black;
  }
  
  nav {
    width: 600px;
  }
  
  nav ul {
    list-style: none;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  
  nav a {
    text-decoration: none;
    color: black;
  }
  
  .blackHeart {
    width: 20px;
    margin-right: 1rem;
  }

  .npm-logo {
      width: 60px;
      margin-right: 1rem;
  }

  .search-mg {
      width: 20px;
      color: grey;

  }

  .join-log {
      list-style: none;
      display: flex;
      justify-content: space-between;
      align-items: center;
      width: 100px;
      text-decoration: none;
  }

  .join-btn {
      border: 1px;
      border-color: black;
  }
  
  #build-amazing-things {
      height: 600px;
      background-color: rgba(232,217,217,.3);
  }

  #build-amazing-things .see-plan-btn{
      color: white;
      background-color: #FB3B49;
      box-shadow: 8px 8px 0 rgba(251,59,73,.2);
      text-decoration: none;
  }

  #build-amazing-things .join-free-btn{
      color: black;
      text-decoration: none;
}